img {
  max-width: 100%;
  align-self: center;
}

.corpo {
  text-align: center;
}

.texto {
  margin-top: 2rem;
}

.link {
  margin-top: 2rem;
}

.react-player {
  margin: 0 auto;
  top: 0;
  left: 0;
}
