.header-container {
    display: flex;
    justify-content: center;
}

.button-container a{
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}